### This is the notebook for the load prediction hackathon on Analytics Vidhya

### Problem Statement

**About Company**

Dream Housing Finance company deals in all home loans. They have presence across all urban, semi urban and rural areas. Customer first apply for home loan after that company validates the customer eligibility for loan.

**Problem**

Company wants to automate the loan eligibility process (real time) based on customer detail provided while filling online application form. These details are Gender, Marital Status, Education, Number of Dependents, Income, Loan Amount, Credit History and others. To automate this process, they have given a problem to identify the customers segments, those are eligible for loan amount so that they can specifically target these customers. Here they have provided a partial data set.

### Import libraries

In [1]:
import numpy as np
import pandas as pd

### First import the training dataset and explore it a bit

In [36]:
df = pd.read_csv('train_u6lujuX_CVtuZ9i.csv')
df = df[['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
         'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
         'Loan_Amount_Term', 'Credit_History', 'Loan_Status']]
df.head()
# df.dropna().shape
# df.isnull().any()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Y

### Map string categories into numbers

In [ ]:
gender_map = {'Male': 0, 'Female': 1}
y_n_map = {'No': 0, 'Yes': 1}
education_map = {'Graduate': 1, 'Not Graduate': 0}